<section class="navbar">
    <div class="nav-container">
        <div class="brand">
            <a href="#!"><%= image_tag("odin_brand2.png", class: "image image--brand") %>Odinbook</a>
        </div>
        <nav>
            <ul class="nav-list">
                <% if user_signed_in? %>
                    <li><a href="#">Welcome <%= current_user.username %></a></li>
                    <li><a href="<%= destroy_user_session_path %>" data-turbo-method="delete">Sign-out</a></li>
                <% else %>
                    <li><a href="<%= new_user_session_path %>">Sign-in</a></li>
                    <li><a href="<%= new_user_registration_path %>">Register</a></li>
                <% end %>
            </ul>
        </nav>
    </div>
</section>