<!-- app/views/users/show.html.erb -->
<main class="container">
  <%= link_to sanitize("&larr; Back to post"), posts_path %>
  <div class="header">
    <h1><%= @user.username %>'s profile</h1>
  </div>

  <div class="profile">
    <div class="f1"><%= @user.email %></div>
    <div class='f1'>Member since: <%= @user.created_at.strftime("%d-%m-%Y") %></div>
    <div class='f1'>No. of posts: <%= @user.posts.count %></div>
    <div class='f1'>Followers: <%= @user.followers.count %></div>
    <div class='f1'>Following: <%= @user.following.count %></div>
    <div class='f1'>Total likes: </div>
    <div class='f1'>
      <%= p current_user.id %>
      <%= p @user.id %><br>
    <% if @follow_request_status == 'self' %>
      Pending requests:<br>
      <% @pending_request.each do |request| %>
        <%= request.follower.username %>
        <%= button_to "Accept", accept_follow_request_path(id: request.id), method: :patch, class: "btn btn--secondary" %>
        <%= link_to "Reject", reject_follow_request_path, method: :patch,  data: {turbo_method: :patch}, class: "btn btn--secondary" %>
      <% end %>
    <% else %>
      <% if @follow_request_status == 'pending' %>
        Request pending
      <% elsif @follow_request_status == 'rejected' %>
        Request rejected
        <%= link_to 'Unfollow', unfollow_user_path(@user), method: :delete, data: {turbo_method: :delete} %>
      <% elsif @follow_request_status == 'accepted' %>
        <%= link_to 'Unfollow', unfollow_user_path(@user), method: :delete, data: {turbo_method: :delete} %>
      <% else %>
        <%= link_to 'Send follow request', follow_user_path(@user), method: :post, data: {turbo_method: :post} %>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="header">
    <h1>posts</h1>
  </div>
  <%= render @posts %>
</main>


