<main class="container">
  <%= link_to sanitize("&larr; Back to post"), posts_path %>
  <div class="header">
    <div class="user users">
      <div class="user_container_profile">
        
        <div class="user_image">
                <% if !@user.avatar_url %>
                  <%= image_tag("default_profile2.png", class: "image image--profile-icon") %>
                <% else %>
                  <%= image_tag("#{@user.avatar_url}", class: "image image--profile-icon") %>
                <% end %>
        </div>
        
        <div class="user_button">
          <% if @follow_request_status != 'self' %>
            <% if @follow_request_status == 'pending' %>
              <%= image_tag('icon_pending_requests.svg', title: 'Follow request pending') %>
            <% elsif @follow_request_status == 'accepted' %>
              <%= link_to '-', unfollow_user_path(@user), method: :delete, data: {turbo_method: :delete}, class: 'btn btn--follow_unfollow', title: 'Unfollow this user' %>
            <% else %>
              <%= link_to "+", follow_user_path(@user), method: :post, data: {turbo_method: :post}, class: 'btn btn--follow_unfollow', title: 'Follow this user' %>
            <% end %>
          <% end %>
        </div>
      
        <div class="user_info">
          <h2><%= @user.username %>'s profile</h2>
                    <% if @follow_request_status != 'self' %>
            <% if @follow_request_status == 'pending' %>
              pending request
            <% elsif @follow_request_status == 'accepted' %>
              following user
            <% else %>
              not following
            <% end %>
          <% end %>
        </div>
      
      </div>
    </div>
  </div>

  <div class="profile">
    <div class="profile_detail">
      <div class="detail_field"><%= image_tag('icon_email.svg', class: 'image--icon-profile')%><%= @user.email %></div>
      <div class="detail_field"><%= image_tag('icon_member.svg', class: 'image--icon-profile')%>since <%= @user.created_at.strftime("%d-%m-%Y") %></div>
      <div class="detail_field"><%= image_tag('icon_posts.svg', class: 'image--icon-profile')%>No. of posts: <%= @user.posts.count %></div>
      <div class="detail_field"><%= image_tag('icon_followers.svg', class: 'image--icon-profile')%>Followers: <%= @user.followers.count %></div>
      <div class="detail_field"><%= image_tag('icon_following.svg', class: 'image--icon-profile')%>Following: <%= @user.following.count %></div>
      <div class="detail_field"><%= image_tag('icon_likes.svg', class: 'image--icon-profile')%>Total likes: <%= @user.liked_posts.count %></div>

      <div class='follow_requests'>
        <% if @follow_request_status == 'self' %>
          <% if @pending_request.count != 0 %>
            <%= image_tag('icon_request.svg', class: 'image--icon-profile', title: 'Follow requests.')%>
            <% @pending_request.each do |request| %>
            <div class="pending_list">  
              <%= link_to "@#{request.follower.username}", users_profile_path(request.follower.id) %>
              <%= button_to "\u2714", accept_follow_request_path(id: request.id), method: :patch, class: "btn btn--accept_reject", title: 'Accept request.' %>
              <%= button_to "\u2716", reject_follow_request_path(id: request.id), method: :patch,  data: {turbo_method: :patch}, class: "btn btn--accept_reject", title: 'Reject request.' %>
            </div>         
            <% end %>
          <% end %>
        <% else %>

        <% end %>
      </div>
    </div>

    <div class="profile_image">
      <%= image_tag("odin_home4.png", class: "image image--profile-details")%>
    </div>
  </div>

  <div class="header">
    <h3><%= image_tag("header_posts2.png", class: "image image--icon-header") %><%= @user.username %>'s posts</h3>
  </div>
  <%= render @posts %>
</main>


