
<%= turbo_frame_tag "tf_post#{post.id}", class: "post" do %>
    <div class="post__post_preview">
    <div class="post__f1"><%= image_tag("odin_post_list.png", class: "image image--icon-header") %><%= link_to post.title, post_path(post) %></div>
    <div class="post__f1">
        <%= link_to users_profile_path(post.user), class: "profile-link" do %>
            <%= image_tag("#{post.user.avatar_url}", class: "image image--profile-icon-small") %>
            <span><h5><%= post.user.username %></h5></span>
        <% end %>
    </div>
    <div class="post__f1">
        <div class="profile-link">
        <% if current_user.liked_post?(post) %>
            <%= image_tag("odin_liked.png", class: "image image--icon-list") %>
        <% else %>
            <%= image_tag("odin_likes3.png", class: "image image--icon-list") %>
        <% end %>
        <span class="post__liked_count"><%= post.likes_count %></span>
        </div>
    </div>

    <div class="post__actions">

        <% if false %>
            <% if current_user.id == post.user.id %>
                <%= link_to "Delete",
                                post_path(post),
                                method: :delete,
                                class: "btn" %>
                <%= link_to "Edit",
                                edit_post_path(post),
                                class: "btn" %>
            <% end %>
        <% end %>
    </div>
    </div>
<% end %>



