<main class="container">
    <% if params[:user_posts] == 'true' %>
        <%= link_to sanitize("&larr; Back to posts"), posts_path %>
    <% end %>
    <div class="header">
        <% if params[:user_posts] == 'true' %>
            <h2><%= image_tag("odin_posts3.png", class: "image image--icon-header") %>My Posts</h2>
        <% else %>
            <h2><%= image_tag("odin_posts3.png", class: "image image--icon-header") %>Posts</h2>
        <% end %>
        <ul>
            <li><%= image_tag("spear_up.png", class: "image image--icon-header") %>recent</li> 
            <li><%= image_tag("spear_down.png", class: "image image--icon-header") %>oldest</li> 
            <li><%= image_tag("odin_likes3.png", class: "image image--icon-header") %>likes</li>   
            <li><%= link_to "New post", new_post_path, class: "btn btn--secondary" %></li>
        </ul>
    </div>

    <%= render @posts %>
</main>