<main class="container">
  <%= link_to sanitize("&larr; Back to posts"), posts_path %>

  <div class="header header__show">
    <h1><%= image_tag("odin_post3.png", class: "image image--icon-header") %><%= @post.title %></h1>
    <h4>by @<%= @post.user.username %></h4>
    <h6>posted on: <%= @post.created_at.strftime("%d-%m-%Y") %></h6>
  </div>

  <div class="post_body">
    <%= image_tag("odin_post_body.png", class: "image image--icon-post") %>
    <%= @post.body %>
  </div>

</main>