<section class="navbar">
        <div class="brand">
            <a href="<%= posts_path %>"><%= image_tag("odin_brand2.png", class: "image image--brand") %>Odinbook</a>
        </div>

        <nav>
            <ul>
                <% if user_signed_in? %>
                    <div class="navbar_menu">
                        <li><a href="<%= posts_path %>">Posts</a></li>
                    </div>
                    <div class="navbar_menu">
                        <li><a href="<%= users_path(current_user) %>">All Users</a></li>
                    </div>      
                    <div class="navbar_profile">
                        <li><a href="<%= users_profile_path(user_id: current_user.id) %>">welcome@<%= current_user.username %></a></li>
                        <li><a href="<%= destroy_user_session_path %>" data-turbo-method="delete">logout</a></li>
                    </div>
                <% else %>
                    <div class="navbar_profile">
                        <li><a href="<%= new_user_session_path %>">Sign-in</a></li>
                        <li><a href="<%= new_user_registration_path %>">Register</a></li>
                    </div>
                <% end %>
            </ul>
        </nav>
</section>